body {
	background-color: #a9cce3;
}
.item {
	border-radius: 1em;
	width: 100px;
	max-height: 100px;
	top: 0;
	text-align: center;

	/* padding: 7px 14px; */
	cursor: pointer;
}
.container {
	padding: 5px;
	border-radius: 1em;
	height: 300px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item-container {
	display: flex;
	gap: 1em;
}
.board {
	margin-top: 1em;
	border-top: 1px solid #3791ce;
}
